data/*
models/*
lambda/*.pkl
lambda/*.json
training/.ipynb_checkpoints/*
commands.txt
ParentChildsLambdas/Readme.md
ParentChildsLambdas/*/*.pkl
ParentChildsLambdas/ChildLambda_XGB/*.json
backups/*
training/.ipynb_checkpoints/*
```